@media (min-width: 576px) {
    .style{
        font-size: 16px;
    }
}

@media (min-width: 768px) {
    .style{
        font-size: 16px;
    }
}

@media (min-width: 992px) {
    .style{
        font-size: 18px;
    }
}
