<h1 class="h1 text-danger text-center mt-3 mb-2">إستبيان الخاص {{typeUser === 'parent' ? 'بالأولياء' : 'بالمربين و المربيات'}}
<br>
    <small class="text-muted h5"> هذا الإستبيان يحتوي على  {{typeUser === 'parent' ? 3 : 2}} صفحات </small>
    <br>
    <small class="text-muted    h5">الصفحة {{step}} من{{typeUser === 'parent' ? ' 3' : ' 2'}}</small>
</h1>
<form class="m-auto" [formGroup]="formGroup" (ngSubmit)="submit($event)" id="form">
    <div class="container-fluid row">
        <div class="card border-0 custom-margin col-md-6 col-sm-12" *ngFor="let question of questions">
            <div class="card-header text-white border-0 mb-3 bg-info">
                {{question.label}}
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="form-check-inline col-auto">
                        <input class="form-check-input" id="response{{question.id}}1"
                               [name]="question.formControlName"
                               type="radio" value="never"
                               [formControlName]="question.formControlName"
                        >
                        <label class="form-check-label" for="response{{question.id}}1">
                            أبدا
                        </label>
                    </div>
                    <div class="col-auto form-check-inline">
                        <input class="form-check-input" id="response{{question.id}}2"
                               [name]="question.formControlName"
                               type="radio" value="sometimes"
                               [formControlName]="question.formControlName"
                        >
                        <label class="form-check-label" for="response{{question.id}}2">
                            قليلا
                        </label>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-auto form-check-inline">
                        <input class="form-check-input" id="response{{question.id}}3"
                               [name]="question.formControlName"
                                type="radio" value="usual"
                               [formControlName]="question.formControlName"
                        >
                        <label class="form-check-label" for="response{{question.id}}3">
                            كثيرا
                        </label>
                    </div>
                    <div class="col-auto form-check-inline">
                        <input class="form-check-input" id="response{{question.id}}4"
                               [name]="question.formControlName"
                               type="radio" value="always"
                               style="margin-right: -9px"
                               [formControlName]="question.formControlName"
                        >
                        <label class="form-check-label" for="response{{question.id}}4">
                            كثيرا جدا
                        </label>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container w-100">
        <button [disabled]="formGroup.invalid" class="btn btn-success" type="submit"
                style="margin-right: 89%; margin-bottom: 5%; width: 10%">
            <em class="material-icons" style="transform: rotate(180deg)">arrow_forward</em>
        </button>
    </div>
</form>
