<div class="card w-100 h-100 border-0 w-100 h-80">
    <h5 class="card-header bg-secondary border-0 h-100">
        <h1 class="h1 text-center text-danger text-white">كيف يتم تقصي اضطراب تشتت الانتباه و فرط
            الحركة</h1>
    </h5>
    <div class="card-body container p-2 ">
        <div class="m-2 d-flex flex-column">
            <div class="h2 flex-fill card shadow mt-1">
                <div class="card-body">
                  <p class="text-center text-bold">  يُمَكِّنُ تقصي اضطراب تشتت الانتباه و فرط الحركة على
                            مرحلتين:</p>
                    <ol class="p-0 m-2">
                        <li class="m-1  mb-3">
                          تعمير استبيان من طرف الولي والمربي يصف سلوك الطفل ويمكن من تحديد امكانية وجود الاضطراب لديه.
                        </li>
                        <li class="m-1 mb-3">
                          في حالة أظهر الاستبيان امكانية وجود الاضطراب لدى الطفل يقع فحصه من طرف طبيب نفسي للأطفال للتأكد من تشخيص الاضطراب و كذلك للمتابعة و العلاج و سيقع هذا الفحص داخل روضته.
                        </li>
                      <li class="m-1 mb-3">كل مراحل التقصي ثم التشخيص مجانية.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
